.menu {
  background-color: #e4d9d6;
  padding: 15px 0;
  margin-bottom: 15px;
}

.menu a {
  color: #432821;
  text-decoration: none;
  display: block;
  width:100%;
}

.menu ul {
  margin: 0;
  padding: 0;

  display: -webkit-box; /* Android 4.3-, Safari без оптимизации */
  -webkit-box-pack: justify; /* Android 4.3-, Safari без оптимизации */
  display: -webkit-flex; /* оптимизация для Safari */
  -webkit-justify-content: space-between; /* оптимизация для Safari */
  display: flex;
  justify-content: space-between;

}


.menu ul li{
  display : inline-block;
  width : 155px;
  display: -webkit-box; /* !хак! для Android 4.3-, должен идти после inline-block */
}