.header{
  margin: 0 auto;
}

.header .logo{
  margin: 0 auto;
  display:block;
  width: 155px;
}

.header .region{
  float: left;
  margin-left: 40px;
  margin-top:15px;
}

.header .phone{
  float: right;
  margin-right: 40px;
  margin-top: 15px;
}