.slick-dots{
  bottom:5px;
}

.slick-dots li button{
  background-color:white;
  border-radius: 10px;
  padding:0;
  width: 14px;
  height: 14px
}

.slick-dots li button:before {
  font-size: 12px;
  color:white;
  opacity:0;
  line-height:16px;
  width: 15px;
  height: 15px

}
.slick-dots li.slick-active button:before{
  color:#432821;
}