@font-face {
  font-family: 'FranklinGothicBook';
  src: local('FranklinGothicBook'), url(./fonts/FRABK.woff) format('woff');
}

.app {
  text-align: center;
  width: 1024px;
  margin: 0 auto;
  font-family: 'FranklinGothicBook';
}


